.storybook-button {
  display: flex;
  padding: var(--space-2) var(--space-4);
  justify-content: center;
  align-items: center;
  gap: var(--space-2);
  transition: all 0.3s ease;
}

.button--primary {
  border-radius: var(--radius-md);
  background: var(--brand);
  color: var(--white);
  font-weight: var(--fw-bold);

  &:hover {
    background: var(--brand-hover);
    color: var(--white);
  }
}

.button--secondary {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  background-color: transparent;
  color: #333;
}

.button--underline {
  text-decoration: none;
  color: var(--black);
  font-weight: var(--fw-medium);

  &:hover {
    text-decoration: underline;
    color: var(--brand);
    font-weight: var(--fw-medium);
  }
}
.storybook-button--small {
  padding: 10px 16px;
  font-size: 12px;
}
.storybook-button--medium {
  font-size: var(--fs-sm);
  padding: 8px 16px;
  font-size: 14px;
}
.storybook-button--large {
  padding: 12px 24px;
  font-size: 16px;
}
